# ALERT: don't include the project itself in this file, do it in the
# self.requirements.txt file

--index-url https://pypi.python.org/simple/

# packaging
pip
wheel
twine
pip-tools

# interactive and debugging
ipython
pdbpp


# task running
invoke
fabric
jubeo

# code quality metrics
lizard
flake8
coverage

# docs
sphinx
sphinxcontrib-napoleon
nbsphinx
notebook

# website
nikola[all]
ghp-import


